@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');


.skills {
  background: linear-gradient(to bottom, #57059e, #4a00e0);
}

.skills h2 {
  color: #fff;
}

.skills .heading span {
  color: rgb(255, 230, 0);
}

.skills .container {
  background: rgba(0, 0, 22, 0.4);
  border-radius: 0.5rem;
  padding: 2rem;
}

.skills .container .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
}

.skills .container .row .col {
  margin: 3.5%;
  display: grid;
}

.skills .container .col {
  position: relative;
  width: 92%;
  color: #fff;
  margin-top: .5rem;
}

.skills .container .col .bar {
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  background: rgba(0, 0, 22, 0.9);
  transition: .2s;
}

.skills .container .col .bar:hover {
  transform: translateX(12px);
  box-shadow: 0 5px 8px rgba(0, 2, 68, 0.4);
}

.skills .container .col .bar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skills .container .col .bar .info i {
  font-size: 2rem;
}

.skills .container .col .bar .info span {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: 'Poppins';
  margin-left: .5rem;
}

.skills .container .col .bar .line {
  position: relative;
  width: 100%;
  height: 10px;
  background: rgb(212, 211, 211);
  border-radius: 6px;
}

.skills .container .col .bar .line:before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.skills .container .col .bar .html:before {
  width: 98%;
  background: #4285F4;
}

.skills .container .col .bar .css:before {
  width: 92%;
  background: #DB4437;
}

.skills .container .col .bar .javascript:before {
  width: 82%;
  background: #F4B400;
}

.skills .container .col .bar .bootstrap:before {
  width: 73%;
  background: #0F9D58;
}

.skills .container .col .bar .coding:before {
  width: 84%;
  background: #DB4437;
}

.skills .container .col .bar .mysql:before {
  width: 97%;
  background: #F4B400;
}

.skills .container .col .bar .reactjs:before {
  width: 55%;
  background: #FF00FF;
}

.skills .container .col .bar .cpp:before {
  width: 88%;
  background: #4285F4;
}

.skills .container .col .bar .python:before {
  width: 80%;
  background: #0F9D58;
}

.skills .container .col .bar .mongodb:before {
  width: 70%;
  background: #808000;
}

.skills .container .col .bar .nodejs:before {
  width: 70%;
  background: #808000;
}

.skills .container .col .bar .vcs:before {
  width: 88%;
  background: #FF00FF;
}

.skills .container .col .bar .cms:before {
  width: 96%;
  background: #1771e7;
}

.skills .container .col .bar .firebase:before {
  width: 75%;
  background: #ffae00;
}

/* skills media queries starts*/
@media screen and (max-width: 600px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }

  .skills .container .row {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
    padding-top: 2rem;
  }

  .skills .container .col {
    margin-top: 5px;
    width: 100%;
  }

  .skills .container .col .bar {
    margin-bottom: 10px;
    padding: 10px;
  }

  .skills .container .col .bar .line {
    height: .8rem;
  }
}